---
  - name: clone dotfiles repository to localhost
    git:
      repo: "{{ dotfiles_repo }}"
      dest: /tmp/tmp-dotfiles
      accept_hostkey: yes
      force: yes
      recursive: no
      key_file: "{{ lookup('env', 'HOME') }}/.ssh/id_ed25519"
    delegate_to: localhost
    run_once: true

  - name: copy dotfiles into ~/
    copy:
      src: /tmp/tmp-dotfiles/{{ item }}
      dest: "/home/{{ ansible_user }}/{{ item }}"
      owner: "{{ ansible_user }}"
      group: "{{ ansible_user }}"
      mode: '0644'
    with_items:
      - .zshrc
      - .p10k.zsh
      - .tmux.conf
      - .wgetrc
      - .vimrc
      - .ansible_password
      - .gitconfig
      - .exports

  - name: copy vim directory
    copy:
      src: /tmp/tmp-dotfiles/.vim/
      dest: "/home/{{ ansible_user }}/.vim/"
      owner: "{{ ansible_user }}"
      group: "{{ ansible_user }}"
      mode: '0644'

# also need to remove docker and other things if they aren't used (like bat!)
  - name: Remove ls aliases from .zshrc if exa isn't installed
    lineinfile:
      path: /home/{{ ansible_user }}/.zshrc
      regexp: "{{ item }}"
      state: absent
      backup: yes
    with_items:
      - ls="exa --git"
      - lsd="exa -a -l -i --git -H"
   #when raspberry not pi 1 or pi zero which are both armv6l
    when: not (ansible_machine == "x86_64") or (ansible_machine == "armv7l")

  - name: delete dotfiles from /tmp
    file:
      state: absent
      path: /tmp/tmp-dotfiles

  - name: source new .zshrc file
    shell: "/bin/zsh /home/{{ ansible_user }}/.zshrc"
