---
###  NEED TO PASS IN THE DEFAULT_USER PARAMETER, EXAMPLE:
###    - role: remove_default_user
###      default_user: "{{ dmz_username }}"



# - name: kill processes used by default user
#   shell: sudo pkill -u {{ default_user }} #variable is defined in hosts file
#   # shell: sudo pkill -u {{ hostvars[groups['provision_servers'][0]].ansible_user }}
#   ignore_errors: true

# - name: remove default user for raspberry pi
#   user:
#     name: "pi"
#     state: absent
#     remove: yes
#   when: raspberry_pi == true

# - name: remove default user for proxmox vms
#   user:
#     name: "serveradmin"
#     state: absent
#     remove: yes
#   when: raspberry_pi == false

- name: Check if default user exists
  getent:
    database: passwd
    key: "{{ default_user }}"
  register: default_user_check
  failed_when: false

- name: remove default user
  user:
    name: "{{ default_user }}"
    state: absent
    force: true
    remove: true
  when: default_user_check.ansible_facts.getent_passwd is defined and default_user in default_user_check.ansible_facts.getent_passwd

- name: Reboot the machine (Wait for 5 min)
  reboot:
    reboot_timeout: 300
  ignore_errors: true

  # become_user: "{{ user }}"