---
  - name: dev server provision (voyager)
    hosts: provision_servers
    gather_facts: true
    become: true
    vars_files:
      - vars/dev_server_provision_vars.yml
    roles:
      - role: bootstrap_python
      - role: check_if_pi
      - role: provision_dev_server

#add in adding ansible collections (pfsense)
#also create and populate /etc/ansible/hosts
#add ansible.cfg file at /etc/ansible/ansible.cfg

  - name: post server provision
    hosts: post_provision_servers
    gather_facts: true
    become: true
    vars_files:
      - vars/dev_server_provision_vars.yml
    roles:
      - role: check_if_pi
      - role: remove_default_user
      - role: orangepi_disable_ramlog
      - role: install_obsidian_vault
      - role: import_dotfiles
      - role: install_pivpn
      - role: install_rsyslog_server
      # - role: IronicBadger.figurine  # Replaced by install_custom_motd (more comprehensive)
      - role: install_custom_motd
      - role: artis3n.tailscale
      - role: geerlingguy.pip
      - role: geerlingguy.docker
      - role: deploy_docker_env
        vars:
          deploy_docker_services_for: voyager
      - role: geerlingguy.ntp
      # - role: geerlingguy.node_exporter
      - role: geerlingguy.clamav
