user: "{{ ansible_user }}"
my_custom_path_var: '/home/{{ user }}/.local/bin'
# Use absolute path for ansible project - lookup('env', 'HOME') returns /root under sudo
ansible_project_path: '/home/{{ username }}/code_base/ansible_projects'
public_keys:
  - name: Enterprise Public Key File
    key: "{{ lookup('file', ansible_project_path ~ '/files/enterprise_pub_key.pub') }}"
  - name: Voyager Public Key File
    key: "{{ lookup('file', ansible_project_path ~ '/files/voyager_pub_key.pub') }}"
  - name: Borg Public Key File
    key: "{{ lookup('file', ansible_project_path ~ '/files/borg_pub_key.pub') }}"
extra_path: '/usr/local/bin'
dotfiles_repo: 'git@github.com:KolinSmith/dotfiles.git'
tailscale_release_stability: 'stable'
distro:
  ubuntu: 'ubuntu'
  debian: 'debian'
tailscale_apt_deb: 'deb https://pkgs.tailscale.com/{{ tailscale_release_stability | lower }}/{{ distro[ansible_distribution | lower] }} {{ ansible_distribution_release | lower }} main'
tailscale_apt_signkey: 'https://pkgs.tailscale.com/{{ tailscale_release_stability | lower }}/{{ distro[ansible_distribution | lower] }}/{{ ansible_distribution_release | lower }}.gpg'
# raspbian_testing_deb: 'deb http://raspbian.raspberrypi.org/raspbian/ testing main'
# if I want to use headscale:
#https://github.com/artis3n/ansible-role-tailscale/tree/main
#tailscale_args: "--login-server='http://localhost:8080'"
necessary_packages:
  - wget
  - net-tools
  - zsh
  - powerline
  - fonts-powerline
  - curl
  - git
  - iputils-ping
  - dnsutils
  - acl
  - sudo
  - fzf
  - apt-transport-https
  - unattended-upgrades
  - tmux
  - build-essential
  - unzip
  - cmatrix
  # - neofetch
  - pigz
  - locate
  - vim
  - atop
  - python3-pip
  # - tailscale
  - ansible
  - rsyslog
  # - trash-cli
  # - exa
  - nyx # needed for Tor stats

#  add way to install ansible via pip on orange pi instead of apt
  