# DMZ Docker Environment Variables
# Managed by Ansible - Generated: {{ ansible_date_time.iso8601 }}

DUCKDNS_TOKEN={{ docker_duckdns_token }}
DUCKDNS_DOMAIN={{ docker_duckdns_domain }}
SEARCH_DOMAIN={{ docker_search_domain }}
PUID={{ docker_puid }}
PGID={{ docker_pgid }}
SUPERUSER_EMAIL={{ docker_superuser_email }}
SUPERUSER_PASSWORD={{ docker_superuser_password }}
SITE_ROOT={{ docker_site_root }}
CF_API_EMAIL={{ docker_cf_api_email }}
CF_API_KEY={{ docker_cf_api_key }}
CAPTURE_API_SECRET={{ docker_capture_api_secret }}
