# DS9 Pi-hole Docker Environment Variables
# Managed by Ansible - Generated: {{ ansible_date_time.iso8601 }}

PIHOLE_WEBPASSWORD={{ vault_pihole_webpassword }}
PIHOLE_UPSTREAM_DNS={{ vault_pihole_upstream_dns }}
PIHOLE_REV_SERVER_CIDR={{ vault_pihole_rev_server_cidr }}
PIHOLE_REV_SERVER_TARGET={{ vault_pihole_rev_server_target }}
PIHOLE_REV_SERVER_DOMAIN={{ vault_pihole_rev_server_domain }}
PIHOLE_VIRTUAL_HOST={{ vault_pihole_virtual_host_ds9 }}
BESZEL_AGENT_KEY={{ vault_beszel_agent_key }}
