# DS9 Pi-hole Docker Environment Variables
# Managed by Ansible - Generated: {{ ansible_date_time.iso8601 }}

# Pi-hole Web Interface Password (hashed with sha256)
# Password: xCvwZfpR
# Hash: f755cc2a6aa03990f2a2e32f07aa19c454564d3eb94ece3c00ae7217fa005e53
PIHOLE_WEBPASSWORD={{ vault_pihole_webpassword }}
