{
  "theme": "{{ obsidian_theme }}",
  "showLineNumber": {{ obsidian_show_line_numbers | lower }},
  "vimMode": {{ obsidian_vim_mode | lower }},
  "baseFontSize": 16,
  "interfaceFontFamily": "",
  "textFontFamily": "",
  "monospaceFontFamily": "",
  "foldHeading": true,
  "foldIndent": true,
  "showFrontmatter": true,
  "showInlineTitle": true,
  "rightToLeft": false,
  "readableLineLength": true,
  "strictLineBreaks": false,
  "attachmentFolderPath": "./attachments"
}