---
- name: dmz server pre provision
  hosts: dmz_pre_provision
  gather_facts: true
  become: true
  vars_files:
    - vars/dmz_server_provision_vars.yml
  roles:
    - role: bootstrap_python
    - role: check_if_raspberry_pi
    - role: geerlingguy.docker
    - role: deploy_docker_env
      vars:
        deploy_docker_services_for: dmz
    - role: import_dotfiles
    - role: install_rsyslog_client
    - role: setup_oracle_vps

- name: post server post provision
  hosts: post_provision_servers
  gather_facts: true
  become: true
  vars_files:
    - vars/dev_server_provision_vars.yml
  roles:
    # - role: check_if_raspberry_pi
    - role: remove_default_user
      default_user: "{{ dmz_username }}"
    - role: oracle_vps_cpu_burn
