WEBPASSWORD=8417b62458f73179c722f75cfef3a2cc19ef80dab42737f3f5641444ab2b4d0e
DNSMASQ_LISTENING=single
DNS_FQDN_REQUIRED=true
DNS_BOGUS_PRIV=true
DNSSEC=true
REV_SERVER=true
REV_SERVER_CIDR=192.168.3.1/24
REV_SERVER_TARGET=192.168.3.1
REV_SERVER_DOMAIN=pfSense.localdomain
PIHOLE_INTERFACE=eth0
IPV6_ADDRESS=
PIHOLE_DNS_1=192.168.3.1
PIHOLE_DNS_2=192.168.3.1
QUERY_LOGGING=true
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
CACHE_SIZE=10000
BLOCKING_ENABLED=true
