USING_UFW=0
IPv4dev=eth0
dhcpReserv=1
install_user=dax
install_home=/home/dax
VPN=wireguard
pivpnPORT=51820
pivpnDNS1=192.168.9.6
pivpnDNS2=192.168.9.5
pivpnHOST=lame.duckdns.org
INPUT_CHAIN_EDITED=0
FORWARD_CHAIN_EDITED=0
pivpnPROTO=udp
pivpnDEV=wg0
pivpnNET=10.6.0.0
subnetClass=24
ALLOWED_IPS="0.0.0.0/0, ::0/0"
UNATTUPG=1
