user: 'dax'
my_custom_path_var: '/home/{{ user }}/.local/bin'
public_keys:
  - name: Enterprise Public Key File
    key: "{{ lookup('file', '/home/dax/code_base/ansible_projects/files/enterprise_pub_key.pub') }}"
  - name: Voyager Public Key File
    key: "{{ lookup('file', '/home/dax/code_base/ansible_projects/files/voyager_pub_key.pub') }}"
  - name: Borg Public Key File
    key: "{{ lookup('file', '/home/dax/code_base/ansible_projects/files/borg_pub_key.pub') }}"
extra_path: '/usr/local/bin'
dotfiles_repo: 'git@github.com:KolinSmith/dotfiles.git'
ansible_projects_repo: 'git@github.com:KolinSmith/ansible_projects.git'
docker_projects_repo: 'git@github.com:KolinSmith/docker_projects.git'
terraform_projects_repo: 'git@github.com:KolinSmith/terraform_projects.git'
github_backup_repo: 'git@github.com:KolinSmith/GitHub-Backup.git'
tailscale_auth_key: '{{ tailscale_auth_key }}' #expires Nov 21, 2025
tailscale_release_stability: 'stable'
distro:
  ubuntu: 'ubuntu'

#geerlingguy.pip
pip_package: python3-pip
#geerlingguy.ntp
ntp_timezone: America/Chicago
#ironicbadger.figurine
figurine_arch: arm64
figurine_font: 'Larry 3D 2.flf'

tailscale_apt_deb: 'deb https://pkgs.tailscale.com/{{ tailscale_release_stability | lower }}/{{ distro[ansible_distribution | lower] }} {{ ansible_distribution_release | lower }} main'
tailscale_apt_signkey: 'https://pkgs.tailscale.com/{{ tailscale_release_stability | lower }}/{{ distro[ansible_distribution | lower] }}/{{ ansible_distribution_release | lower }}.gpg'
# raspbian_testing_deb: 'deb http://raspbian.raspberrypi.org/raspbian/ testing main'
necessary_packages:
  - wget
  - net-tools
  - zsh
  - powerline
  - fonts-powerline
  - curl
  - git
  - iputils-ping
  - dnsutils
  - acl
  - sudo
  - fzf
  - apt-transport-https
  - unattended-upgrades
  - tmux
  - build-essential
  - unzip
  - cmatrix
  - neofetch
  - pigz
  - locate
  - vim
  - atop
  - python3-pip
  - ansible
  - cups
  - rsyslog
  - tldr
  - bat
  - trash-cli
  - exa
  - golang-go
  - samba
  - sshpass # for ansible use
  - ansible-lint
  - expect
  - gh
  - xdg-utils     #needed to open browser from dev container when prompted in code  



